
body {
    background-color: aqua;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;


}

#button {
    background-color: black;
    border: solid;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
  }

